<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hd.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.hd.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <insert id="saveUser" parameterType="cn.hd.entity.User">
        insert into t_user(id, user_name, password)
        values (#{id}, #{userName}, #{password})

    </insert>
    <select id="findAll" resultMap="BaseResultMap">
        select *
        from t_user
    </select>
</mapper>